version: '3'

services:
        hath:
                build:
                        args:
                                HATH_PKG: https://repo.e-hentai.org/hath/HentaiAtHome_1.6.1.zip
                                HATH_SHA256: b8889b2c35593004be061064fcb6d690ff8cbda9564d89f706f7e3ceaf828726
                        context: hath
                # image: docker.pkg.github.com/amphineko/hath-docker/hath:1.6.0
                environment:
                        CLIENT_ID: 0
                        CLIENT_KEY: undefined
                ports:
                        - "443:443"
                restart: unless-stopped
                volumes:
                        - "./volumes/cache:/hath/cache"
                        - "./volumes/data:/hath/data"
                        - "./volumes/download:/hath/download"
                        - "./volumes/log:/hath/log"
                        - "./volumes/tmp:/hath/tmp"
