version: '3'

services:
        hath:
                image: docker.pkg.github.com/amphineko/hath-docker/hath:1.6.0
                ports:
                        - "4284:4284"
                restart: always
                volumes:
                        - "./volumes/cache:/hath/cache"
                        - "./volumes/data:/hath/data"
                        - "./volumes/download:/hath/download"
                        - "./volumes/log:/hath/log"
                        - "./volumes/tmp:/hath/tmp"
